{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
    <div class="bg-neutral-2">
        <span>{{ form_widget(form.name) }}</span>
        {{ form_row(form.performedDate) }}
    </div>
    {{ form_end(form) }}
{% endblock %}