<html lang="en">
    <div>Hello, {{ user.username }}! This should be your dashboard</div>
    <div> Your Basal Metabolic Rate is {{ BMR }}</div>
{#    {% for workout in workouts %}#}
{#        <span> {{ workout.name }}</span>#}
{#    {% endfor %}#}
</html>